
li {
    font-size:16px;
    color: #aaa;
    list-style: none;
    font-family: Tahoma;
    cursor: pointer;
    background: #ddd;
    display: block;
    width: 300px;
    border-radius: 3px;
    padding: 4px;
    transition: .4s;
}
 
li:hover {
    background: #000;
    color: #fff;   
}

