* {
    font-family: Tahoma;
    font-size: 20px;
    color: #aaa; 
}

.table {
    margin: 0 auto;
}

tr {
    position: relative;
    color: #000;
    font-size: 24px;
    font-family: Tahoma;
    list-style: none;
    margin-right: 30px;
    background: #ddd;
    text-align: center;
    margin-bottom: 4px;
    padding: 10px;
    display: block;
    width: 500px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 4px 2px 4px 0 #ccc;
}
tr .name {
    color: forestgreen;
}

.delete {
    color: red;
    position: absolute;
    right:10px;
    top: 14px;
    transition: 0.4s;
    cursor: pointer;
}
.delete:hover {
    font-weight: bold;
    color: darkred;
}
input {
    display: block;

}
.inputStyle {
    margin-bottom: 30px;
    border-radius: 4px;
    box-shadow: 2px 1px 1px 0 #ccc;
    outline: none;
    border: 1px solid #ddd;
    padding-left: 4px;
    padding-top: 4px; 
    padding-bottom: 4px;
    color: #000;
}
.hint {
    display: block;
}

.inputAdd {
    margin-bottom: 8px;
    display: inline-block;
    width: 158px;
    margin-right: 14px;
}
.add {
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    background: brown;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  
}